.content {
    text-align: center;
    font-family: 'Poppins', serif;
    font-weight: bold;
    /*background gifi lisätty!*/
    background-image: url("giphy2.gif");
    background-repeat: no-repeat;
    background-size: 300px;
    background-position-x: 80%;
    /*background-position-x: 920px;*/
    /*background-position-y: top;*/
    background-position-y: 10%;
    background-attachment: fixed;
    /*backgroundin väri*/
    background-color: aliceblue;
    min-height: 100vh;
}

.container {
    width: 75vw;
}

.textinput {
    margin: 20px;
}

h1 {
    font-weight: bold;
    padding: 15px;
}