body {
    background-color: lightgoldenrodyellow;
    font-family: "Agency FB";
    font-size: 22px;
}

div.text {
    padding-top: 10px;

}

div.pay {
padding-top: 10px;

}

div.submit {
    padding: 20px;
}

